.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100%;
  width: 30%;
  float: left;
  padding: 0 10px;
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  margin: 5px;
}




/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  
}

img {
  border-radius: 5px 5px 5px 5px;
  padding-top: 7px;
}

.row {margin: 0 -5px;}

.row {
  padding-left: 2rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h4{
  text-align: center;
  color: black;
}

p{
  font-style: italic;
  font-family: monospace;
  font-weight: bold;
}

.subject{
  font-size: small;
  font-style: normal;
  color: black;
}

codersrank-summary {
  --header-bg-color: #fff;
  --name-font-size: 20px;
  --header-text-color: black;
}

.buttonVid {
  font-size: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
}