.collapsible {
    background-color: --var(--secondary);
    color: --var(--secondary);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
  }
  
  .active, .collapsible:hover {
    background-color: black;
    color: white;
  }
  
  .collapsible:after {
    content: '\002B';
    color: --var(--secondary);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 20px;
    font-family: monospace;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .main-skills {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: --var(--primary);
    font-family: monospace;
  }

  .skills-div {
    display: flex;
    background-color: white;
    margin-bottom: 15px;
    padding-left: 4.5rem;
  
    }
  
    .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: --var(--secondary)
    
    }

  .vidID {
    object-fit: initial;
    width: 400px;
    height: 300px;
}