body {
	/* prettier-ignore */
	--data: (
		projects: [
			{
				href: 'https://aman-bhatti.js.org/2048/',
				name: '2048'
			},
		]
	);
	/* prettier-ignore */
	--html: (
	<input type="checkbox" id="menu" hidden />
	<html-head-component src="meta.json" hidden></html-head-component>
	<div class="title">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 206"><g fill-rule="evenodd" transform="translate(3 3)"><circle fill="none" stroke-width="4" cx="100" cy="100" r="100"/><path stroke="none" d="m37.938 136.266 23.285-59.154 14.117 39.867 7.52 19.287h15.43L70.163 64H55.125L27 136.266m105.22 10.459v-9.327c-8.658-8.724-12.988-21.077-12.988-37.06 0-15.95 4.33-28.288 12.989-37.012V54c-8.073 4.492-14.462 10.905-19.165 19.238-4.704 8.334-7.056 17.367-7.056 27.1s2.393 18.831 7.178 27.295c4.785 8.463 11.133 14.827 19.043 19.092zm8.78 0c7.91-4.265 14.258-10.629 19.043-19.092 4.785-8.464 7.178-17.562 7.178-27.295s-2.352-18.766-7.056-27.1C155.461 64.905 149.073 58.492 141 54v9.326c8.659 8.724 12.988 21.061 12.988 37.012 0 15.983-4.33 28.336-12.988 37.06v9.327z"/></g></svg>
		<label for="menu" aria-label="Open menu">Projects</label>
		<h1>atanas atanasov (aman-bhatti)</h1>
		<h2>senior <br />javascript / typescript<br />engineer</h2>
	</div>
	<div class="activity">
		<h3>Activity</h3>
		<codersrank-activity
			labels
			legend
			tooltip
			branding="false"
			username="aman-bhatti"
		></codersrank-activity>
	</div>
	<div class="education">
		<h3>Education</h3>
		<codersrank-education
			grid
			branding="false"
			username="aman-bhatti"
			education-section-title="Schools"
			certificates-section-title="Certificates"
		></codersrank-education>
	</div>
	<div class="portfolio">
		<h3>Portfolio</h3>
		<codersrank-portfolio
			grid
			branding="false"
			username="aman-bhatti"
		></codersrank-portfolio>
	</div>
	<div class="skills">
		<h3>Skills</h3>
		<codersrank-skills-chart
			labels
			legend
			tooltip
			branding="false"
			username="aman-bhatti"
		></codersrank-skills-chart>
	</div>
	<div class="summary">
		<h3>Summary</h3>
		<codersrank-summary
			username="aman-bhatti"
		></codersrank-summary>
	</div>
	<div class="work">
		<h3>Work</h3>
		<codersrank-work-experience
			grid
			logos
			branding="false"
			username="aman-bhatti"
		></codersrank-work-experience>
	</div>
	<div class="timeline">
		<h3>Work Experience Timeline</h3>
		<codersrank-timeline
			type="workexperience"
			branding="false"
			username="aman-bhatti"
		></codersrank-timeline>
	</div>
	<div class="timeline">
		<h3>Portfolio Timeline</h3>
		<codersrank-timeline
			type="portfolio"
			branding="false"
			username="aman-bhatti"
		></codersrank-timeline>
	</div>
	<div class="timeline">
		<h3>Technologies Timeline</h3>
		<codersrank-timeline
			type="technologies"
			branding="false"
			username="aman-bhatti"
		></codersrank-timeline>
	</div>
	<br>
	<social-links></social-links>
	<div class="projects-list">
		<label for="menu" aria-label="Close menu">&times;</label>
	</div>
	<div class="backdrop"></div>
	);
	/* prettier-ignore */
	--js: (
		const projects = document.querySelector('.projects-list');

		data.projects.forEach(({ href, name }) => {
			const a = document.createElement('a');

			a.href = href;
			a.innerHTML = name;

			projects.appendChild(a);
		});
	)
}

:root {
	--primary: #fff;
	--secondary: #000;
}

html {
	font-size: 1rem;
}

body {
	font-family: monospace;
	color: var(--primary);
	padding: 1rem;
	max-width: 1280px;
	margin: auto;
	background-color: var(--secondary);
}

h3 {
	text-align: center;
	margin: 0 0 1rem;
}

.title {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.title svg {
	width: 2rem;
	height: 2rem;
	display: block;
	fill: var(--primary);
	stroke: var(--primary);
}

.title h1,
.title h2 {
	flex: 0 0 100%;
}

.title h1 {
	padding-top: 1rem;
	border-top: 1px solid;
	margin: 1rem 0 0;
}

.title h2 {
	padding-bottom: 1rem;
	border-bottom: 1px solid;
	margin: 0;
}

.work,
.skills,
.summary,
.activity,
.about-me,
.timeline,
.education,
.portfolio{
	padding: 1rem 0;
	border-bottom: 2px solid;
}


.break{
	padding-top: 10rem;
}

.line{
	border-top: 2px solid;
}


codersrank-skills-chart {
	--legend-text-color: yellow;
	--legend-font-size: 15px;
	--preloader-color: red;
	--svg-height: 25rem;
	
  }

label {
	display: block;
	padding: 0.5rem;
	cursor: pointer;
}

label:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

codersrank-portfolio,
codersrank-education,
codersrank-work-experience {
	--grid-columns: 3;
}

@media (max-width: 1024px) {
	codersrank-portfolio,
	codersrank-education,
	codersrank-work-experience {
		--grid-columns: 2;
	}
}

@media (max-width: 768px) {
	codersrank-portfolio,
	codersrank-education,
	codersrank-work-experience {
		--grid-columns: 1;
	}
}

.backdrop,
.projects-list {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.5s ease-in-out;
}

.projects-list {
	width: 20rem;
	height: 100%;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: var(--secondary);
	transform: translateX(-100%);
}

.projects-list a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 1rem;
	border-top: 1px solid;
}

.projects-list a:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

.projects-list label {
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
}

.backdrop {
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color: var(--primary);
	pointer-events: none;
	transition: opacity;
}

#menu:checked ~ .backdrop {
	opacity: 0.7;
	visibility: visible;
	pointer-events: auto;
}

#menu:checked ~ .projects-list {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

codersrank-timeline {
	--timeline-item-bg-color: #333;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #000;
		--secondary: #fff;
	}

	codersrank-timeline {
		--timeline-item-bg-color: #ccc;
	}
}

codersrank-activity {
	--legend-text-color: lightblue;
	--legend-font-size: 10px;
  }

  p{
	text-align: center;
  }

  .skills-div {
	display: flex;
	background-color: white;
	margin-bottom: 15px;
	padding-left: 4.5rem;

  }

  .skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	
  }

  

  .html {width: 90%; background-color: #E34C26;}
  .css {width: 90%; background-color: #563D7C;}
  .python {width: 80%; background-color: #3572A5;}
  .js {width: 70%; background-color: #F1E05A;}
  .reactjs {width: 70%; background-color: gray;}
  .cpp {width: 40%; background-color: pink;}
  .swift {width: 50%; background-color: orange;}
  .java {width: 30%; background-color: blue;}

  #typewrite {
    color: white;
    font-weight: bold;
}

#cursor {
    color: red;
    animation: blink 1s linear infinite;
}

    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
    }


.pfp {
	height: 250px;
	width: 200px;
	border-radius: 100%;
	position: relative;
	object-fit: cover;
	padding-bottom: 1rem;
	
}


.about-p {
	margin: 0 0 30px 0;
	line-height: 30px;
	font-size:x-large;
	height: 200px;
	width: 900px;
	padding-top: 2rem;
	padding-right: 7rem;
	float: right;
	display: block;
	text-align: left;
}

